<h2>Add a new book</h2>

<%= form_tag '/books', method: :post do %>
  <h4>
    <%= label_tag :title %>
  </h4>
  <p>
    <%= text_field_tag :title %>
  </p>

  <h4>
    <%= label_tag :author %>
  </h4>
  <p>
    <%= text_field_tag :author %>
  </p>

  <h4>
    <%= label_tag :year_published %>
  </h4>
  <p>
    <%= text_field_tag :year_published %>
  </p>

  <h4>
    <%= label_tag :total_pages %>
  </h4>
  <p>
    <%= text_field_tag :total_pages %>
  </p>

  <%= submit_tag "Add Book", class: "btn btn-default"%>

<% end %>